<a href="https://colab.research.google.com/github/Victor09Lara/Computadoras-y-Programacion-/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tipos de datos estructurados phyton 

1. Lista
2. Tuplas 
3. Diccionarios 
4. Conjutos (opcional)

#Listas 
- Tipo de datos que agrupa variables o valores.
-Estructura secuencial (undexados empezando por 0)
- Se declara de 2 formas 
  - Usando [ ]
  -usando list()
  -usando un generador 
- Puede contener tipos de datos diversos (En otros lenguajes de programacion, eso no es posibles de forma directa) 
- Los elementos internos se seleccionan con []
- Soporta slicing 
- Son MUTABLES 
-GENERADORES (var for x in range ())
- Al ser una clase contiene muchos metodos utilez

In [ ]:
#Priemera forma de hacer una lista 
numeros = [10, 5, 2, 3, 1]
print(numeros)

#Segunda forma de hacer una lista
numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
#Son mutables
numeros[2] = 20
print(numeros)
numeros[4]=33
print(numeros)

numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]
[10, 5, 20, 3, 33, 88]

In [ ]:
# Tipos diversos 
cosas = [12, 2, True, "Jose", 1.57, ['pera', 'kiwi', 'uva']]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3:])

cosas [3]= cosas[3].upper()
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros= [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)

#slicing
#1.- 4 al 8?
print(numeros[3:8])

#2: [9, 10]
print(numeros[8:10])
print(numeros[-3:-1])

#3.- Imprimir de modo inverso [11, 10, 9,...]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Crear una lista con un generador 
numeros =[ x*3 for x in range(101)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

#Funcion rango range()
tiene los mismos componentes que slicing

ini, stop, incremento 
range (1, 101, 1)

In [ ]:
numeros=[x for x in range(50,101, 1)]
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

#Metodos disponibles de una lista

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros=[4,1,15, 8, 22, 34, 50]
print(numeros)
numeros.append(99)
print(numeros)
numeros.clear()
print(numeros)
#numeros.clear()
numeros =[ ]
print(numeros)

frutas= ["Uvas", "Kiwi", "Manzana"]
copia=frutas 
print(frutas)
print(copia)
frutas.append("Naranjas")
print(frutas)
print(copia)


colores= ["rojo", "azul", "blanco"]
copia2 =colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print (colores)
print(copia2)

print("Numeros de veces que aparece el 15= ", numeros.count(15))

nombres=["jose", "pedro", "karina"]
otrosNombres =["josue", "dania", "dalia"]

print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

otrosNombres.extend(["Jesus", "Maria", "jose"])
print(otrosNombres)

print("Jesus esta en la posicion: ", otrosNombres.index("Jesus"))
otrosNombres.insert(4, "Espiritu Santo")
print(otrosNombres)

#pop
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
[]
['Uvas', 'Kiwi', 'Manzana']
['Uvas', 'Kiwi', 'Manzana']
['Uvas', 'Kiwi', 'Manzana', 'Naranjas']
['Uvas', 'Kiwi', 'Manzana', 'Naranjas']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numeros de veces que aparece el 15=  0
['jose', 'pedro', 'karina']
['josue', 'dania', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'dania', 'dalia']
['josue', 'dania', 'dalia']
['josue', 'dania', 'dalia', 'Jesus', 'Maria', 'jose']
Jesus esta en la posicion:  3
['josue', 'dania', 'dalia', 'Jesus', 'Espiritu Santo', 'Maria', 'jose']
['josue', 'dania', 'dalia', 'Jesus', 'Espiritu Santo', 'Maria']
jose

#Tuplas 
### Caracteristicas 
- Datos agrupados 
- Se declaran de dos opciones 
   -()
   -tuple()
- Pueden tener de 0 a n elementos. 
- NO SON MUTABLES (No se puede eleiminar y/o cambiar)
- Son bunas para almacenar informacion de consulta.
- Pueden almacenar info. de diferentes tipos de datos.
- Pueden estar anidadas.
- Tiene metodos utilez.

In [ ]:
info = ("juan23", "dios123", "123.232.1.12")
print(info)
print(info[1])
#info [1] ='patito23' #No es mutable 


numeros =(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,14)
print(numeros)
print(numeros[5:11])

cosas=(info, numeros)
print(cosas)
print (cosas [1][5:11:1])
print (cosas [0][2][4:7])
print(cosas[0][2][-8:-5])

('juan23', 'dios123', '123.232.1.12')
dios123
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 14)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios123', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 14))
(5, 6, 7, 8, 9, 10)
232
232

#Metodos de las Tuplas 
Son los mismos metodos de las listas, pero los que no involucran mutabilidad

In [ ]:
dir(tuple) #cout, index

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

#Diccionarios 
### Caracteristicas de los diccionarios 
- Agrupan datos de forma no lineal.
- se declaran 
  - {}
  - dict{}
- Formado por pares de tipo llave:valor , donde: 
   - llave, es de tipo string (siempre)
   - valor, puede ser de cualquier tipo de daros. Incluyendo los diccionarios 
- Se selecciona con la llave de la forma: ["id_llave"]
- Son mutables
- Son anidables 
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [ ]:
#Forma 1 para declarar
alumno = {"nombre":"Jose"}
print(alumno)
print(alumno["nombre"])

alumno ={"nombre":"Jose","nc":"2129229292", "edad":18 }
print("Edad del alumno:", alumno["edad"])

print(alumno["nombre"].upper())

#Forma 2 para declarar
print("Alumno 2")
alumno2 = dict() #{ } llave vacia 
alumno2 ["nombre"] ="Jose"
alumno2 ["nc"] ="2129229292"
alumno2["edad"] =18
print(alumno2)

alumno2 ["edad"] = alumno2["edad"]+1
print(alumno2)

{'nombre': 'Jose'}
Jose
Edad del alumno: 18
JOSE
Alumno 2
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 18}
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 19}

In [ ]:
cliente = {"id":"CT2121", 
           "nombre":"Jose Pedroza Rosales", 
           "telefono":"2345678910"} #Se pueden hacer saltois de linea en los diccionarios 

print(cliente )

cliente = {"id":"CT2121", 
           "nombre": {"nombres" :["Jose", "Eduardo"],
                      "paterno" : "Pedroza", 
                      "materno":"Rosales" 
                      },
           "telefonos": {
               "casa":"4562763728",
               "trabajo":"154251525",
               "celular":"326364728"
               },
           "productos": 
                     {"ahorros":{"numero de cuenta":"7878", "ahorro":2500.5}, 
                      "tarjetas":[
                                  {"tipo":"debito", "saldo":10000.5},
                                  {"tipo":"credito preferente", "limite":250000.5},
                                  {"tipo":"lite", "limite":15000.5}
                      ]
                     }, 
           "direccion":{
               "calle":"Av. central",
               "numero":12345,
               "colonia" : "Impulsora",
               "delegacion": "neza",
               "estado" : {
                   "clave": 15, 
                   "nombre_corto":"EdoMex",
                   "nombre" : "Estado de Mexico"
               }
           }
                      }   
           

print(cliente["telefonos"]["casa"])
print(cliente)
print(cliente["productos"]["ahorros"]["ahorro"])
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())
cliente["productos"]["ahorros"]["ahorro"]-=1500.0
print(cliente ["productos"])

{'id': 'CT2121', 'nombre': 'Jose Pedroza Rosales', 'telefono': '2345678910'}
4562763728
{'id': 'CT2121', 'nombre': {'nombres': ['Jose', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '4562763728', 'trabajo': '154251525', 'celular': '326364728'}, 'productos': {'ahorros': {'numero de cuenta': '7878', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 12345, 'colonia': 'Impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de Mexico'}}}
2500.5
15000.5
ESTADO DE MEXICO
{'ahorros': {'numero de cuenta': '7878', 'ahorro': 1000.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}

#Estructuras de Control de Programacion 
Se puede crear cualquier tipo de algoritmo empleando solamente 3 estructuras de control:
1. Secuencia: 
  - Representacion de la memoria de programa (Arquitectura de Vonn Newman)
2. Seleccion:
  - Estructura de control que decide si un bloque de codigo se ejecuta o no se ejecuta. Tambien permite seleccionar ejecutar un bloque entre un conjuto de opciones. 
  En resumen tenemos: Seleccion simple, seleccion con bifurcacion y seleccion multiple. 
3. Repeticion:    
  - Este tipo de estructura nos permite automatizar la ejecucion repetitiva de codigo, mientras ciertas condiciones se cumplan, tenemos 3 variantes de esta estructura  en todos los lengiajes de programacion:    
  - Desde... hasta (estructura For)
  - Haz mientras (estructura While)
  - Haz y Luego validez mientras (estructuras Do-While)

# Estructura de selccion Simple 
la estructura if 
´´´´
if <CONDICION>: 
<Cuerpo del If>
´´´´
** Nota*** Para establecer el cuerpo de una estructura de control en Phyton se usan los tabuladores a la izq. 
En otros lenguajes programacion como Java, c y c++.. se usan llaves {}

In [ ]:
edad = int(input("Dame tu edad:"))
print (f"Tecleaste {edad} años ")

if edad>=18: # Sino se comple la condicion se salta a la parte de abajo print ("Fin del Programa "), si se cumple estonces da print ("Eres mayor de edad")
    print ("Eres mayor de edad") #Los tauldores si importan 
    print ("Algo")
print ("Otra Cosas")
print("Fin del Programa ")

#Los tabuladores determinan el cuepro de la estructura

Dame tu edad:16
Tecleaste 16 años
Otra Cosas
Fin del Programa

In [ ]:
#Calificacio
cal = float(input("Dame tu Calificacion: "))
if cal>8:
    print ("Aprobado")
print("No estas Aprobado")

Dame tu Calificacion: 9
Aprobado
No estas Aprobado

In [ ]:
#Sueldo, con incremeto del 15%
sue = float(input("Dame tu sueldo: "))
aum=0
msue=0
if sue<1000:
    aum= sue*0.15
    msue=sue+aum
    print(msue)

Dame tu sueldo: 459.90
528.885

#Estructura de seleccion con bifurcacion (if-else)
Esta estructura seleccion una una de dos opciones de ejecucion, se ejecuta un bloque si la condicon se cumple o se ejecuta otro bloque si la condicion no se cumple (else).

´´´´´´´´´
if<condicion>:
        <bloque se ejeucion>
else:      
        <bloque de ejecion alterno>
´´´´´´´´´´

In [ ]:
edad =int(input("Dame tu edad: "))
print(f"Tecleaste {edad} años")
if edad>=18:
    print("Eres mayor de edad, ten tu cheve")
else: 
    print("Eres menor de edad, ten tu Boing de mango")
print("Fin del Programa")

Dame tu edad: 18
Tecleaste 18 años
Eres mayor de edad, ten tu cheve
Fin del Programa

In [ ]:
#Pedir edad y dinero 
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste ${dinero} pesos")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
else:
    if dinero >= 36 :
        print("Tienes dinero suficiente pero no tienes la edad")
    else:
        print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

Dame tu edad: 56
Cuanto dinero tienes: 34
Tecleaste 56 años
Tecleaste $34.0 pesos
tienes la edad pero no tienes dinero suficiente

El codigo anterior se puede simplificar, usando una palabra reservada especial que existen en algunos lenguajes de progrmacion.
###elif

In [ ]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste ${dinero} pesos")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
elif dinero >= 36 :
    print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

Dame tu edad: 45
Cuanto dinero tienes: 67
Tecleaste 45 años
Tecleaste 67.0 dinero
Ten tu cheve

In [ ]:
cal = float(input("Teclea tu promedio: "))
if cal>=8: 
    print("Estas aprobado")
else: 
    print("Estas reprobado")

Teclea tu promedio: 8
Estas aprobado

In [ ]:
sue= float(input("Dame tu sueldo: "))
msue=0
if sue<1000:
    msue=sue*1.15
else:
    msue=sue*1.12
print(f"Tu aumento es: ${msue} pesos")

Dame tu sueldo: 1000
Tu aumento es: $1120.0 pesos

###Ejercicio if-else 
###Hcer un programa que solicite el dia de la semana en un valor numerico entero al de 1 al 7 (Avisrales al usuario si el proporciono un valor fuera del rango ).

###Posteriormente imprimira el dia de la semana corrrespondiente al numero capturado 
1. Lunes 
2. Martes 
7. Domingo

In [ ]:
dia=int(input("Dame el día de la semana del 1-7: "))
if dia is 1:
    print("Lunes")
elif dia is 2:
    print("Martes")
elif dia is 3:
    print("Miercoles")
elif dia is 4:
    print("Jueves")
elif dia is 5:
    print("Viernes")
elif dia is 6:
    print("Sabado")
elif dia is 7:
    print("Domingo")
else:
    print("Debe ser un numero del 1 al 7, ingresa nuevamente")

Dame el día de la semana del 1-7: 5
Viernes

In [ ]:
dia =int(input("Ingresa un numero entre 1 y 7"))
print(f"Capturaste el numero {dia} ")

if dia >= 1 and dia <= 7:
    if dia == 1:
        print("Lunes")
    else:
        if dia ==2:
            print("Martes")
        else:
            if dia==3:
                print("Miercoles")
            else: 
                if dia==4:
                    print("Jueves")
                else: 
                    if dia==5:
                        print("Viernes")
                    else: 
                        if dia==6:
                            print("Sabado")
                        else:
                            if dia==7:
                                print("Domingo")

else: 
    print("No esta en el rango solicitado")

Ingresa un numero entre 1 y 79
Capturaste el numero 9
No esta en el rango solicitado

In [ ]:
#Hacer un programa que pida 2 numerosenteros y que imprima en pantalla lo siguinte 
#1. cual de ellos es el numero mayor 
#2. cual de ellos es el numero menor 
#3. Imprimir que los valores son igulaes 

#Hacer un rpgrma que solicite tres numero enteros entre si y que imprima cual de los tres es el mayor
#Hacer un rpgrma que solicite tres numero enteros entre si y que imprima cual de los tres es el menor


#Hecer un prgrma que solicte cuatro numeros enteros diferentes entres si e improma en la salida cual de ellos es mayor y el menor

#Seleccion Multiple (switch)
En phyton no existe la estrcutura de seleccion switch, en su lugar se utiliza la palabra reservada:  
##elif <condicion>

Por ejemplo en el lenguaje Java y C seria de la siguinte forma:

```
float SUE=0.0;
int CATE=0;
printf("Introduce la categoria:")
scanf("%i", CATE)
printf("Introduce el sueldo:");
scanf("%i", SUE)
```

In [ ]:
# ejemplo 2.7
 
NUM = int (input ("dame un numero entre 1 y 3:"))
V = float (input ("Dame un valor float:"))
VAL = 0
si NUM == 1:
    VAL = 100 * V
elif NUM == 2:
    VAL = 100 ** V
elif NUM == 3:
    VAL = 100 / V
demás:
    VAL = 0
 
imprimir (VAL)

In [8]:
#ejemplo 2.8 

CATE=int(input("Introduce la categoria: "))
SUE=float(input("Introduce el sueldo: "))

if CATE==1:
    SUE=SUE*1.15;
elif CATE==2:
    SUE= SUE*1.10;
elif CATE==3:
    SUE=SUE*1.08;
elif CATE==4:
    SUE==SUE*1.07
print(f"Categoria= {CATE}, sueldo= {SUE}")

Introduce la categoria: 3
Introduce el sueldo: 3800
Categoria= 3, sueldo= 4104.0

In [9]:
print("Teclea 3 numeros, para que se puedan acomodar de maner acendente")
A=int(input("Teclea un numero: "))
B=int(input("Teclea un segundo numero: "))
C=int(input("Teclea un tercer numero: "))


if A>B:
    if A>C:
        if B>C:
            print(f"{A}, {B}, {C}")
        else:
            print(f"{A}, {C}, {B}")
    else:
        print(f"{C}, {A}, {B}")
else: 
    if B>C:
        if A>C:
            print(f"{B}, {A}, {C}")
        else: 
            print(f"{B}, {C}, {A}")
    else: 
        print(f"{C}, {B}, {A}")
print("Find del Programa")

Teclea 3 numeros, para que se puedan acomodar de maner acendente
Teclea un numero: 5
Teclea un segundo numero: 3
Teclea un tercer numero: 0
5, 3, 0
Find del Programa

In [12]:
#problema 2.14 
TIPOENF=int(input("Introduce el tipo de infermedad: "))
EDAD=int(input("Introdece tu edad: "))
DIAS= int(input("Introduce el numero de dias: "))
COSTO=0.0


if TIPOENF==1:
    COSTO=DIAS*25.0
elif TIPOENF==2:
    COSTO=DIAS*16.0
elif TIPOENF==3:
    COSTO=DIAS*20.0
elif TIPOENF==4:
    COSTO=DIAS*32.0

if EDAD>=14 and EDAD<=22:
    COSTO=COSTO*1.10
print("Costo total =$",COSTO)

Introduce el tipo de infermedad: 3
Introdece tu edad: 35
Introduce el numero de dias: 4
Costo total =$ 80.0