<a href="https://colab.research.google.com/github/Victor09Lara/Computadoras-y-Programacion-/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tipos de datos estructurados phyton 

1. Lista
2. Tuplas 
3. Diccionarios 
4. Conjutos (opcional)

#Listas 
- Tipo de datos que agrupa variables o valores.
-Estructura secuencial (undexados empezando por 0)
- Se declara de 2 formas 
  - Usando [ ]
  -usando list()
  -usando un generador 
- Puede contener tipos de datos diversos (En otros lenguajes de programacion, eso no es posibles de forma directa) 
- Los elementos internos se seleccionan con []
- Soporta slicing 
- Son MUTABLES 
-GENERADORES (var for x in range ())
- Al ser una clase contiene muchos metodos utilez

In [13]:
#Priemera forma de hacer una lista 
numeros = [10, 5, 2, 3, 1]
print(numeros)

#Segunda forma de hacer una lista
numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
#Son mutables
numeros[2] = 20
print(numeros)
numeros[4]=33
print(numeros)

numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]
[10, 5, 20, 3, 33, 88]

In [14]:
# Tipos diversos 
cosas = [12, 2, True, "Jose", 1.57, ['pera', 'kiwi', 'uva']]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3:])

cosas [3]= cosas[3].upper()
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [21]:
numeros= [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)

#slicing
#1.- 4 al 8?
print(numeros[3:8])

#2: [9, 10]
print(numeros[8:10])
print(numeros[-3:-1])

#3.- Imprimir de modo inverso [11, 10, 9,...]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
#Crear una lista con un generador 
numeros =[ x*3 for x in range(101)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

#Funcion rango range()
tiene los mismos componentes que slicing

ini, stop, incremento 
range (1, 101, 1)

In [28]:
numeros=[x for x in range(50,101, 1)]
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

#Metodos disponibles de una lista

In [29]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [49]:
numeros=[4,1,15, 8, 22, 34, 50]
print(numeros)
numeros.append(99)
print(numeros)
numeros.clear()
print(numeros)
#numeros.clear()
numeros =[ ]
print(numeros)

frutas= ["Uvas", "Kiwi", "Manzana"]
copia=frutas 
print(frutas)
print(copia)
frutas.append("Naranjas")
print(frutas)
print(copia)


colores= ["rojo", "azul", "blanco"]
copia2 =colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print (colores)
print(copia2)

print("Numeros de veces que aparece el 15= ", numeros.count(15))

nombres=["jose", "pedro", "karina"]
otrosNombres =["josue", "dania", "dalia"]

print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

otrosNombres.extend(["Jesus", "Maria", "jose"])
print(otrosNombres)

print("Jesus esta en la posicion: ", otrosNombres.index("Jesus"))
otrosNombres.insert(4, "Espiritu Santo")
print(otrosNombres)

#pop
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
[]
['Uvas', 'Kiwi', 'Manzana']
['Uvas', 'Kiwi', 'Manzana']
['Uvas', 'Kiwi', 'Manzana', 'Naranjas']
['Uvas', 'Kiwi', 'Manzana', 'Naranjas']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numeros de veces que aparece el 15=  0
['jose', 'pedro', 'karina']
['josue', 'dania', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'dania', 'dalia']
['josue', 'dania', 'dalia']
['josue', 'dania', 'dalia', 'Jesus', 'Maria', 'jose']
Jesus esta en la posicion:  3
['josue', 'dania', 'dalia', 'Jesus', 'Espiritu Santo', 'Maria', 'jose']
['josue', 'dania', 'dalia', 'Jesus', 'Espiritu Santo', 'Maria']
jose